@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Rick Astley Blvd<br />
    Greenville, SC 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    864.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ra4evr@iloverick.com</a><br />
</address>