
@{
    ViewBag.Title = "external_resources";
}

<h2>External Resources</h2>
<div>
    <table class="table">
        <thead>Links</thead>
        <tbody>

            <tr>
                <td><a href="http://www.rickastley.co.uk/">Official Page</a></td>
            </tr>
            <tr>
                <td><a href="https://twitter.com/rickastley">Twitter</a></td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Rick_Astley">Wiki</a></td>
            </tr>
            <tr>
                <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Don't click me</a></td>
            </tr>
            <tr>
        <td><a href="http://www.songkick.com/artists/81555-rick-astley">Tour Dates</a></td>
        </tr>

        </tbody>
    </table>
</div>